@font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/NeueMontreal-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

html body {
    margin: 0;
    padding: 0;
}

html {
    background: url("/img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h1 a {
    text-align: center;
    font-family: 'NeueMontreal', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1rem;
    color: lightcoral;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a:hover {
    color: yellow;
}

.top {
    position: fixed;
    width: 100%;
    top: 20px;
}

.bottom {
    position: fixed;
    width: 100%;
    bottom: 20px;
}

/* Tablet + Desktop Styles */

@media (min-width: 48em) {

    h1, h1 a {
        font-size: 4vw;
        line-height: 1.2rem;
    }
   
}